openapi: 3.2.0
info:
  title: SpotOn Reserve Availability Job Positions API
  description: The SpotOn Reserve API (powered by SeatNinja) lets partners integrate reservation, waitlist, and guest-management workflows into the SpotOn Reserve product. It supports listing accessible restaurants, checking available reservation times, creating and managing reservations, retrieving wait times, and adding guests to a waitlist. Authentication uses an API key supplied via the x-api-key request header, scoped to specific restaurants. The sandbox environment enforces daily and hourly request quotas; production has no documented rate limit.
  version: v2
  contact:
    name: SpotOn Reserve Developer Center
    url: https://developers.spoton.com/reserve/docs/getting-started
  x-generated-from: documentation
  x-last-validated: '2026-06-03'
servers:
- url: https://api.seatninja.com
  description: Production
- url: https://sandbox.seatninja.com
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Job Positions
  description: Job position definitions for a location.
paths:
  /locations/{locationId}/job-positions:
    get:
      operationId: listJobPositions
      summary: SpotOn List Job Positions
      description: Retrieve all job positions configured for a location.
      tags:
      - Job Positions
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: A list of job positions for the location.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobPosition'
              examples:
                ListJobPositions200Example:
                  summary: Default listJobPositions 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    locationId: abc123
                    name: Smoke's Burgers
                    deleted: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /locations/{locationId}/job-positions/{jobPositionId}:
    get:
      operationId: getJobPosition
      summary: SpotOn Get Job Position
      description: Retrieve a single job position by its unique identifier for a location.
      tags:
      - Job Positions
      parameters:
      - $ref: '#/components/parameters/LocationId'
      - name: jobPositionId
        in: path
        required: true
        description: The unique identifier for the job position.
        schema:
          type: string
      responses:
        '200':
          description: The requested job position.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosition'
              examples:
                GetJobPosition200Example:
                  summary: Default getJobPosition 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    locationId: abc123
                    name: Smoke's Burgers
                    deleted: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The API key does not have access to the requested location.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: A standard error response.
      properties:
        message:
          type: string
          description: A human-readable description of the error.
          example: example
        code:
          type: string
          description: A machine-readable error code.
          example: A1B2
    JobPosition:
      type: object
      description: A job position configured at a location.
      properties:
        id:
          type: string
          description: Unique job position identifier.
          example: abc123
        locationId:
          type: string
          description: Associated location identifier.
          example: abc123
        name:
          type: string
          description: Job position title.
          example: Smoke's Burgers
        deleted:
          type: boolean
          description: Whether the job position is marked as deleted.
          example: false
  parameters:
    LocationId:
      name: locationId
      in: path
      required: true
      description: The unique identifier for the location.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key scoped to specific restaurants.
