openapi: 3.2.0
info:
  title: SpotOn Reserve Availability Waitlist API
  description: The SpotOn Reserve API (powered by SeatNinja) lets partners integrate reservation, waitlist, and guest-management workflows into the SpotOn Reserve product. It supports listing accessible restaurants, checking available reservation times, creating and managing reservations, retrieving wait times, and adding guests to a waitlist. Authentication uses an API key supplied via the x-api-key request header, scoped to specific restaurants. The sandbox environment enforces daily and hourly request quotas; production has no documented rate limit.
  version: v2
  contact:
    name: SpotOn Reserve Developer Center
    url: https://developers.spoton.com/reserve/docs/getting-started
  x-generated-from: documentation
  x-last-validated: '2026-06-03'
servers:
- url: https://api.seatninja.com
  description: Production
- url: https://sandbox.seatninja.com
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Waitlist
  description: Add guests to a restaurant waitlist.
paths:
  /v2/reservations/{restaurantId}/waitlist:
    post:
      operationId: addToWaitlist
      summary: SpotOn Add to Waitlist
      description: Add a guest to the waitlist at the specified restaurant.
      tags:
      - Waitlist
      parameters:
      - $ref: '#/components/parameters/RestaurantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitlistRequest'
            examples:
              AddToWaitlistRequestExample:
                summary: Default addToWaitlist request
                x-microcks-default: true
                value:
                  customerInformation:
                    customerId: abc123
                    firstName: Mark
                    lastName: Nalepka
                    phoneNumber: '1112223333'
                    email: jsmith@example.com
                    imageUrl: https://example.com/path/abc123
                    memberNumber: '3'
                    memberTier: Gold
                  notes: Operator note
                  partySize: 4
                  partyFlags: 0
      responses:
        '200':
          description: The created waitlist entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistEntry'
              examples:
                AddToWaitlist200Example:
                  summary: Default addToWaitlist 200 response
                  x-microcks-default: true
                  value:
                    waitlistId: abc123
                    restaurantId: 152
                    customerInformation:
                      customerId: abc123
                      firstName: Mark
                      lastName: Nalepka
                      phoneNumber: '1112223333'
                      email: jsmith@example.com
                      imageUrl: https://example.com/path/abc123
                      memberNumber: '3'
                      memberTier: Gold
                    partySize: 4
                    quotedWaitMinutes: 15
                    status: example
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or violated a documented constraint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The API key does not have access to the requested restaurant.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: A standard error response.
      properties:
        message:
          type: string
          description: A human-readable description of the error.
          example: example
        code:
          type: string
          description: A machine-readable error code.
          example: A1B2
    WaitlistEntry:
      type: object
      description: A created waitlist entry.
      properties:
        waitlistId:
          type: string
          description: The unique identifier for the waitlist entry.
          example: abc123
        restaurantId:
          type: integer
          format: int32
          description: The restaurant the waitlist entry belongs to.
          example: 152
        customerInformation:
          $ref: '#/components/schemas/CustomerInformation'
        partySize:
          type: integer
          format: int32
          description: The number of guests in the party.
          example: 4
        quotedWaitMinutes:
          type: integer
          format: int32
          description: The quoted wait time in minutes.
          example: 15
        status:
          type: string
          description: The current status of the waitlist entry.
          example: example
    CustomerInformation:
      type: object
      description: Guest contact and identity details for a reservation or waitlist entry.
      properties:
        customerId:
          type: string
          description: Optional existing customer identifier.
          example: abc123
        firstName:
          type: string
          description: Guest first name.
          example: Mark
        lastName:
          type: string
          description: Guest last name.
          example: Nalepka
        phoneNumber:
          type: string
          description: Guest phone number.
          example: '1112223333'
        email:
          type: string
          format: email
          description: Guest email address.
          example: jsmith@example.com
        imageUrl:
          type: string
          format: uri
          description: Optional URL of a guest image.
          example: https://example.com/path/abc123
        memberNumber:
          type: string
          description: Optional loyalty member number.
          example: '3'
        memberTier:
          type: string
          description: Optional loyalty member tier.
          example: Gold
      required:
      - firstName
      - phoneNumber
    WaitlistRequest:
      type: object
      description: A request to add a guest to the waitlist.
      properties:
        customerInformation:
          $ref: '#/components/schemas/CustomerInformation'
        notes:
          type: string
          description: Optional notes for the waitlist entry.
          example: Operator note
        partySize:
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          description: The number of guests in the party.
          example: 4
        partyFlags:
          type: integer
          format: int64
          description: Optional bit flags describing party attributes.
          example: 0
      required:
      - customerInformation
      - partySize
  parameters:
    RestaurantId:
      name: restaurantId
      in: path
      required: true
      description: The unique identifier for the restaurant.
      schema:
        type: integer
        format: int32
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key scoped to specific restaurants.
