openapi: 3.2.0
info:
  title: SpotOn Restaurant POS Export Locations API
  description: The SpotOn Restaurant POS Export API provides close-to-realtime data export from the SpotOn Restaurant POS System.
  version: v1
  contact:
    name: SpotOn Developer Center
    url: https://developers.spoton.com/restaurant/docs/introduction
  x-generated-from: documentation
  x-last-validated: '2026-06-03'
servers:
- url: https://restaurantapi.spoton.com/posexport/v1
  description: Production
- url: https://restaurantapi-qa.spoton.com/posexport/v1
  description: QA / Sandbox
security:
- apiKeyAuth: []
tags:
- name: Locations
  description: Location details for the SpotOn POS organization.
paths:
  /locations/{locationId}:
    get:
      operationId: getLocation
      summary: SpotOn Get Location
      description: Retrieve the details for a single location by its unique identifier.
      tags:
      - Locations
      parameters:
      - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: The requested location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
              examples:
                GetLocation200Example:
                  summary: Default getLocation 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    organizationId: abc123
                    name: Smoke's Burgers
                    deleted: false
                    fiscalendofdaytime: 10800000
                    spotonmerchantid: abc123
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Location:
      type: object
      description: A SpotOn POS location.
      properties:
        id:
          type: string
          description: Unique location identifier.
          example: abc123
        organizationId:
          type: string
          description: Unique organization identifier shared across all locations in the organization.
          example: abc123
        name:
          type: string
          description: Location name.
          example: Smoke's Burgers
        deleted:
          type: boolean
          description: Whether the location is marked as deleted.
          example: false
        fiscalendofdaytime:
          type: integer
          format: int64
          description: Fiscal end-of-day time, in milliseconds from the start of the day.
          example: 10800000
        spotonmerchantid:
          type: string
          description: The SpotOn merchant identifier for the location.
          example: abc123
    Error:
      type: object
      description: A standard error response.
      properties:
        message:
          type: string
          description: A human-readable description of the error.
          example: example
        code:
          type: string
          description: A machine-readable error code.
          example: A1B2
  responses:
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The API key does not have access to the requested location.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    LocationId:
      name: locationId
      in: path
      required: true
      description: The unique identifier for the location.
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key granting per-location access to the POS Export API.
